@model LAPTOP.Models.ChiTietSanPham

@{
    Layout = "_AdminLayout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ChiTietSanPham</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cpu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cpu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ram)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ram)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vga)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManHinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManHinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KichThuoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KichThuoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MauSac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MauSac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeDieuHanh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeDieuHanh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaSpNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaSpNavigation.MaSp)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaSp" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
</body>
</html>
