@model LAPTOP.Models.ChiTietSanPham

@{
    ViewData["Title"] = @Model.MaSpNavigation.TenSp;
   Layout = "_AdminLayout";
}
<div class="container mt-4">
     <div class="row">
         <h1 class="fw-bold text-primary">@Model.MaSpNavigation.TenSp</h1>
          <h4 class="card-header bg-light fw-bold">Thông số kỹ thuật của máy:</h4>
          <div class="card shadow-sm mb-4">
        <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <i class="bi bi-cpu-fill me-2"></i> CPU: @Model.Cpu
                        </li>
                        <li class="list-group-item">
                            <i class="bi bi-memory me-2"></i> RAM: @Model.Ram
                        </li>
                        <li class="list-group-item">
                         <i class="bi bi-palette me-2"></i> VGA: @Model.Vga
                        </li>
                        <li class="list-group-item">
                            <i class="bi bi-display me-2"></i> Màn hình: @Model.ManHinh
                        </li>
                         <li class="list-group-item">
                           <i class="bi bi-palette me-2"></i> Cổng giao tiếp: @Model.KichThuoc
                            </li>
                            <li class="list-group-item">
                                <i class="bi bi-palette me-2"></i> Pin: @Model.MauSac
                            </li>
                            <li class="list-group-item">
                                <i class="bi bi-battery-half me-2"></i> Trọng lượng: @Model.HeDieuHanh
                            </li>
                    </ul>
                    </div>

    </div>
            <a asp-action="Index" class="btn btn-secondary ms-2">Quay lại danh sách</a>
</div>  

