@model LAPTOP.Models.KhachHang

@{
    ViewData["Title"] = "Xóa khách hàng";
    Layout ="_AdminLayout";
}

<!DOCTYPE html>

<html>

<body>

    <div class="nhanvien-body">
        <div class="text-center mb-4">
            <h2>Bạn có <strong>chắc chắn</strong> muốn xóa khách hàng này?</h2>
        </div>
    </div>

<div>
    <hr />
        <table class="table table-bordered">
            <tr><th>Tên khách hàng : </th><td>@Model.TenKh</td></tr>
            <tr><th>SDT: </th><td>@Model.Sdt</td></tr>
            <tr><th>Địa chỉ: </th><td>@Model.DiaChi</td></tr>
            <tr><th>Giới tính: </th> <td>@(Model.GioiTinh == true ? "Nam" : Model.GioiTinh == false ? "Nữ" : "—")</td></tr>
            <tr><th>Email: </th><td>@Model.Email</td></tr>
            <tr><th>Password: </th><td>@Model.PasswordHash</td></tr>

        </table>
   
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="MaKh" />
            <button type="submit" class="btn btn-danger">
                <i class="bi bi-trash"></i> Có, xóa vĩnh viễn
            </button>
            <a asp-action="Index" class="btn btn-secondary ms-2">
                <i class="bi bi-arrow-left"></i> Hủy
            </a>
    </form>
</div>
</body>
</html>
